
<div class="row">
	<div class="panel-default">
	<div class="panel-heading">
	<h4 class="panel-title" >
          BookMate Login
    </h4>
	</div>
	<div class="panel-body">
	<div class="form-group">
    <form action="/" id="login">
     {{message}} 
     <br/>
    Username: <input text="text" name="username" id="username" ng-model="username" class="form-control" /> <br/>
    Password: <input text="password" name="password" id="password" ng-model="password" class="form-control"/> <br/>
    <button type="button" class="btn btn-primary" ng-click="submit()">Login</button>
    <button type="button" ng-click="register()">Register</button>
    </form>      
</div>
</div>
</div>
</div>